.main {
    padding: 5px;

    .row {
        display: flex;

        .field {
            flex-grow: 1;
            margin: 5px;
            padding: 7px;
            background-color: rgb(247, 247, 247);
            border-radius: 8px;

            .resume {
                display: flex;
                justify-content: space-between;
                align-items: center;
                direction: ltr;
                margin: 5px 3px;
                padding: 8px;
                border-radius: 8px;
                background-color: rgb(230, 230, 230);
            }
        }
    }
}