<div class="tips" (click)="openModal()">
    <span>توضیحات برنامه</span>
</div>

<div class="modal-container" id="modal-container" (click)="closeModal()"></div>

<div class="modal" id="modal">
    <div class="close" (click)="closeModal()"><button>✖</button></div>

    <div class="tips-content">
        <h4>کلیدواژه های سورس</h4>
        <span class="tag">property binding</span>
        <span class="tag">style & class binding</span>
        <span class="tag">interface</span>
        <span class="tag">enums</span>
        <span class="tag">structural directives</span>
        <span class="tag">custom directives</span>
        <span class="tag">custom pipes</span>
        <span class="tag">layout page</span>
        <span class="tag">routing</span>
        <span class="tag">children routes</span>
        <span class="tag">Output&#64;</span>
        <span class="tag">Input&#64;</span>
        <span class="tag">array list</span>
        <span class="tag">rxjs</span>
        <span class="tag">BehaviorSubject</span>
        <span class="tag">working with API</span>
        <span class="tag">global error handling</span>
        <span class="tag special">selectable div</span>
        <span class="tag special">reactive form</span>
        <span class="tag special">custom validation</span>
        <span class="tag special">conditional validation</span>
        <span class="tag special">mobile number validator</span>
        <span class="tag special">bank card number validator</span>
        <span class="tag special">multi step form</span>
        <span class="tag special">multiple file upload</span>
        <span class="tag special">drag and drop upload</span>
        <span class="tag special">file filter</span>
        <span class="tag special">file download</span>
    </div>

    <div class="tips-content">
        <h4>کلیپ توضیحات</h4>
        <div class="text-center" style="min-height: 100px; color: coral;">
            در دست طراحی و ضبط
        </div>
    </div>

    <div class="tips-content">
        <h4>کلیدواژه های سورس nest.js</h4>
        <span class="tag">fs library</span>
        <span class="tag">uuid library</span>
        <span class="tag">readFileSync</span>
        <span class="tag">writeFileSync</span>
        <span class="tag">parameter binding</span>
        <span class="tag">model binding</span>
        <span class="tag">model validation</span>
        <span class="tag">class-validator</span>
        <span class="tag">interceptor</span>
        <span class="tag">exception handling</span>
        <span class="tag special">file filter</span>
        <span class="tag special">file upload</span>
        <span class="tag special">file download</span>
        <span class="tag special">multer</span>
        <span class="tag special">diskStorage</span>
    </div>

    <div class="tips-content">
        <h4>کلیپ توضیحات nest.js</h4>
        <div class="text-center" style="min-height: 100px; color: coral;">
            در دست طراحی و ضبط
        </div>
    </div>

</div>